main {
    /* background-image: url('https://user-images.githubusercontent.com/95686401/177013068-8e9b615e-13f6-41b9-8f59-aadce9e993cf.png');
    background-size: cover; */
    background-image: url('https://user-images.githubusercontent.com/95686401/177012656-44400641-083c-4376-a603-dd8598dd8beb.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.bg-question {
    width: 600px;
    height: 450px;
    background-image: url('https://user-images.githubusercontent.com/95686401/177013068-8e9b615e-13f6-41b9-8f59-aadce9e993cf.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.p-question {
    max-width: 450px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin: 0;
    padding-left: 80px;  
}

.timer, .category {
    color: white;
}

.btn-answer {
    border: none;
    padding: 4px 18px;
    border-radius: 0.5em;
    color: black;
    cursor: pointer;
    margin: 2px;
}

.btn-next {
    background-color: aliceblue;
    padding: 4px 18px;
    border-radius: 0.5em;
    color: black;
    border: none;   
    margin: 5px; 
}

.answer-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    padding-left: 100px;
    justify-content: center;
    align-items: center;    
}

.timer  h2 {
    margin: 2px;
}