*{
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 25px;
    font-size: 20px;
}

header img {
    border-radius: 50%;
    height: 50px;
    padding: 0 10px;
}

.header-p {
    padding: 0 10px;
    color: white;
    font-weight: 600;
}

.about-player p {
    margin: 4px;
}

.text-about-player {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}